$wrapperWidth: 40em;
$wrapperPadding: 1.4em;
$wrapperColor: #4682b4;
$fontColor: #f5fffa;
$fontFamily: sans-serif;
$h1Size: 3em;
$h1Align: center;
$pAlign: justify;
$pPadding: 1em;
$pColor: #6495ED;
$highlightedColor: #CD5C5C;